@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  width: 287mm; /* largura de uma página A4 em paisagem */
  height: 190mm; /* altura de uma página A4 em paisagem */
  margin: 0; /* margem para a página */
  box-sizing: border-box;
  page-break-after: always; /* quebra de página após cada item */
}
